<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhiKX7GK3shnk9fBWFr1fWogsLy60LPpU</string>
	<key>GCM_SENDER_ID</key>
	<string>112675945067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappMessenger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fulchat-eba4a</string>
	<key>STORAGE_BUCKET</key>
	<string>fulchat-eba4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112675945067:ios:d05a42a9eef166c5360f2e</string>
</dict>
</plist>